USE [PortImagesDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_update_terminal]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_update_terminal]
GO
/****** Object:  StoredProcedure [dbo].[usp_update_sub_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_update_sub_menu]
GO
/****** Object:  StoredProcedure [dbo].[usp_update_main_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_update_main_menu]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_terminal_list]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_get_terminal_list]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_terminal_by_id]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_get_terminal_by_id]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_sidebar_menu_by_emp]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_get_sidebar_menu_by_emp]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_employee_menu_access]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_get_employee_menu_access]
GO
/****** Object:  StoredProcedure [dbo].[usp_delete_terminal]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_delete_terminal]
GO
/****** Object:  StoredProcedure [dbo].[usp_delete_sub_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_delete_sub_menu]
GO
/****** Object:  StoredProcedure [dbo].[usp_delete_main_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_delete_main_menu]
GO
/****** Object:  StoredProcedure [dbo].[usp_auth_employee]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_auth_employee]
GO
/****** Object:  StoredProcedure [dbo].[usp_assign_menu_access_to_employee]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_assign_menu_access_to_employee]
GO
/****** Object:  StoredProcedure [dbo].[usp_add_terminal]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_add_terminal]
GO
/****** Object:  StoredProcedure [dbo].[usp_add_sub_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_add_sub_menu]
GO
/****** Object:  StoredProcedure [dbo].[usp_add_main_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
DROP PROCEDURE [dbo].[usp_add_main_menu]
GO
ALTER TABLE [dbo].[TerminalMaster] DROP CONSTRAINT [DF__TerminalM__Creat__671F4F74]
GO
ALTER TABLE [dbo].[TerminalMaster] DROP CONSTRAINT [DF__TerminalM__IsAct__662B2B3B]
GO
ALTER TABLE [dbo].[SubMenus] DROP CONSTRAINT [DF__SubMenus__Create__2B0A656D]
GO
ALTER TABLE [dbo].[SubMenus] DROP CONSTRAINT [DF__SubMenus__IsActi__2A164134]
GO
ALTER TABLE [dbo].[MainMenus] DROP CONSTRAINT [DF__MainMenus__Creat__2739D489]
GO
ALTER TABLE [dbo].[MainMenus] DROP CONSTRAINT [DF__MainMenus__IsAct__2645B050]
GO
ALTER TABLE [dbo].[EmployeeMenus] DROP CONSTRAINT [DF__EmployeeM__Creat__31B762FC]
GO
ALTER TABLE [dbo].[EmployeeMenus] DROP CONSTRAINT [DF__EmployeeM__CanDe__30C33EC3]
GO
ALTER TABLE [dbo].[EmployeeMenus] DROP CONSTRAINT [DF__EmployeeM__CanEd__2FCF1A8A]
GO
ALTER TABLE [dbo].[EmployeeMenus] DROP CONSTRAINT [DF__EmployeeM__CanAd__2EDAF651]
GO
ALTER TABLE [dbo].[EmployeeMenus] DROP CONSTRAINT [DF__EmployeeM__CanVi__2DE6D218]
GO
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [DF__tbl_Emplo__Creat__403A8C7D]
GO
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [DF__tbl_Emplo__IsAct__3F466844]
GO
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [DF__tbl_Employe__DOE__3E52440B]
GO
/****** Object:  Table [dbo].[TerminalMaster]    Script Date: 12/12/2025 6:24:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TerminalMaster]') AND type in (N'U'))
DROP TABLE [dbo].[TerminalMaster]
GO
/****** Object:  Table [dbo].[SubMenus]    Script Date: 12/12/2025 6:24:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SubMenus]') AND type in (N'U'))
DROP TABLE [dbo].[SubMenus]
GO
/****** Object:  Table [dbo].[MainMenus]    Script Date: 12/12/2025 6:24:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MainMenus]') AND type in (N'U'))
DROP TABLE [dbo].[MainMenus]
GO
/****** Object:  Table [dbo].[EmployeeMenus]    Script Date: 12/12/2025 6:24:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeMenus]') AND type in (N'U'))
DROP TABLE [dbo].[EmployeeMenus]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/12/2025 6:24:00 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
DROP TABLE [dbo].[Employee]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](500) NOT NULL,
	[Mobile] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[DOE] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeMenus]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeMenus](
	[EmployeeMenuId] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[SubMenuId] [int] NOT NULL,
	[CanView] [bit] NOT NULL,
	[CanAdd] [bit] NOT NULL,
	[CanEdit] [bit] NOT NULL,
	[CanDelete] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK__Employee__5C51ACE6BED91BC7] PRIMARY KEY CLUSTERED 
(
	[EmployeeMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainMenus]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainMenus](
	[MainMenuId] [int] IDENTITY(1,1) NOT NULL,
	[MainMenuName] [nvarchar](1000) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK__MainMenu__1F6B3967545B80C7] PRIMARY KEY CLUSTERED 
(
	[MainMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubMenus]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubMenus](
	[SubMenuId] [int] IDENTITY(1,1) NOT NULL,
	[MainMenuId] [int] NOT NULL,
	[SubMenuName] [nvarchar](1000) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[ControllerName] [nvarchar](200) NULL,
	[ActionName] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK__SubMenus__EA065CF97C8FBD40] PRIMARY KEY CLUSTERED 
(
	[SubMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerminalMaster]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerminalMaster](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TerminalName] [nvarchar](1000) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [DOE]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[EmployeeMenus] ADD  CONSTRAINT [DF__EmployeeM__CanVi__2DE6D218]  DEFAULT ((1)) FOR [CanView]
GO
ALTER TABLE [dbo].[EmployeeMenus] ADD  CONSTRAINT [DF__EmployeeM__CanAd__2EDAF651]  DEFAULT ((0)) FOR [CanAdd]
GO
ALTER TABLE [dbo].[EmployeeMenus] ADD  CONSTRAINT [DF__EmployeeM__CanEd__2FCF1A8A]  DEFAULT ((0)) FOR [CanEdit]
GO
ALTER TABLE [dbo].[EmployeeMenus] ADD  CONSTRAINT [DF__EmployeeM__CanDe__30C33EC3]  DEFAULT ((0)) FOR [CanDelete]
GO
ALTER TABLE [dbo].[EmployeeMenus] ADD  CONSTRAINT [DF__EmployeeM__Creat__31B762FC]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[MainMenus] ADD  CONSTRAINT [DF__MainMenus__IsAct__2645B050]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MainMenus] ADD  CONSTRAINT [DF__MainMenus__Creat__2739D489]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[SubMenus] ADD  CONSTRAINT [DF__SubMenus__IsActi__2A164134]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SubMenus] ADD  CONSTRAINT [DF__SubMenus__Create__2B0A656D]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[TerminalMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TerminalMaster] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
/****** Object:  StoredProcedure [dbo].[usp_add_main_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_add_main_menu]
    @MainMenuName NVARCHAR(1000),
    @Icon NVARCHAR(MAX) = NULL,
    @CreatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO MainMenus (MainMenuName, Icon, CreatedBy)
    VALUES (@MainMenuName, @Icon, @CreatedBy);

    SELECT SCOPE_IDENTITY() AS NewMainMenuId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_add_sub_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_add_sub_menu]
    @MainMenuId INT,
    @SubMenuName NVARCHAR(1000),
    @ControllerName NVARCHAR(200) = NULL,
    @ActionName NVARCHAR(200) = NULL,
    @CreatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO SubMenus
    (
        MainMenuId,
        SubMenuName,
        ControllerName,
        ActionName,
        CreatedBy
    )
    VALUES
    (
        @MainMenuId,
        @SubMenuName,
        @ControllerName,
        @ActionName,
        @CreatedBy
    );

    SELECT SCOPE_IDENTITY() AS NewSubMenuId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_add_terminal]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_add_terminal]    
    @TerminalName NVARCHAR(1000),  
    @IsActive BIT,  
    @CreatedBy INT,  
    @Status INT OUTPUT  
AS  
BEGIN  
    SET NOCOUNT ON;  
 SET @Status = -99;  
  
    IF EXISTS(SELECT 1 FROM TerminalMaster WHERE TerminalName = @TerminalName)  
    BEGIN   
  SET @Status = 2;  
  RETURN;   
 END  
  
    INSERT INTO TerminalMaster (TerminalName, IsActive, CreatedBy)  
    VALUES (@TerminalName, @IsActive, @CreatedBy);  
  
    SET @Status = 1;  
END  
GO
/****** Object:  StoredProcedure [dbo].[usp_assign_menu_access_to_employee]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_assign_menu_access_to_employee]
    @EmpId INT,
    @SubMenuId INT,
    @CanView BIT,
    @CanAdd BIT,
    @CanEdit BIT,
    @CanDelete BIT,
    @CreatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM EmployeeMenus WHERE EmpId = @EmpId AND SubMenuId = @SubMenuId)
    BEGIN
        -- Update existing access
        UPDATE EmployeeMenus
        SET 
            CanView = @CanView,
            CanAdd = @CanAdd,
            CanEdit = @CanEdit,
            CanDelete = @CanDelete,
            UpdatedBy = @CreatedBy,
            UpdatedOn = GETDATE()
        WHERE EmpId = @EmpId AND SubMenuId = @SubMenuId;
    END
    ELSE
    BEGIN
        -- Insert new access
        INSERT INTO EmployeeMenus
        (
            EmpId,
            SubMenuId,
            CanView,
            CanAdd,
            CanEdit,
            CanDelete,
            CreatedBy
        )
        VALUES
        (
            @EmpId,
            @SubMenuId,
            @CanView,
            @CanAdd,
            @CanEdit,
            @CanDelete,
            @CreatedBy
        );
    END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_auth_employee]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_auth_employee]     
    @UserName NVARCHAR(500),    
    @Password NVARCHAR(MAX)    
AS    
BEGIN    
    SET NOCOUNT ON;    
    
    DECLARE @UserId INT    
    DECLARE @EmpName NVARCHAR(500)    
    DECLARE @Email NVARCHAR(500)    
    DECLARE @Success BIT    
    DECLARE @Message NVARCHAR(500)    
	DECLARE @Controller NVARCHAR(100)
	DECLARE @Action NVARCHAR(100)
	DECLARE @RoleName NVARCHAR(50)
       
    SELECT     
        @UserId = Id,    
        @EmpName = FullName,    
        @Email = Email    
    FROM Employee    
    WHERE Email = @UserName    
      AND PasswordHash = @Password    
      AND IsActive = 1;    
    
    IF @UserId IS NOT NULL    
    BEGIN    
        SET @Success = 1    
        SET @Message = 'Login successful.'
		SET @Controller='Admin'
		SET @Action='DashBoard'	
		SET @RoleName='Admin'
    END    
    ELSE    
    BEGIN    
        SET @Success = 0    
        -- check if user exists but inactive    
        IF EXISTS (SELECT 1 FROM Employee WHERE Email = @UserName AND IsActive = 0)    
            SET @Message = 'Account inactive.'    
        ELSE    
            SET @Message = 'Invalid username or password.'    
    END    
    
        
    SELECT     
        @Success AS Success,    
        @Message AS Message,    
        @UserId AS ID,    
        @EmpName AS EmpName,    
        @Email AS Email,    
        @Controller AS Controller,    
        @Action AS Action,
		@RoleName RoleName
END 
GO
/****** Object:  StoredProcedure [dbo].[usp_delete_main_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_delete_main_menu]
    @MainMenuId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Delete related SubMenus
    DELETE FROM SubMenus 
    WHERE MainMenuId = @MainMenuId;

    -- Delete the Main Menu
    DELETE FROM MainMenus 
    WHERE MainMenuId = @MainMenuId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_delete_sub_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_delete_sub_menu]
    @SubMenuId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- First delete access permissions for this submenu
    DELETE FROM EmployeeMenus
    WHERE SubMenuId = @SubMenuId;

    -- Then delete the submenu
    DELETE FROM SubMenus
    WHERE SubMenuId = @SubMenuId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_delete_terminal]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_delete_terminal]  
    @ID INT,
	@DeletedBy INT,
    @Status INT OUTPUT  
AS  
BEGIN  
    SET NOCOUNT ON;  
    SET @Status = -99;  
  
    IF NOT EXISTS(SELECT 1 FROM TerminalMaster WHERE ID = @ID)  
    BEGIN  
        SET @Status = -1;  
        RETURN;  
    END  
  
    DELETE FROM TerminalMaster WHERE ID = @ID;  
  
    SET @Status = 1;  
END  
GO
/****** Object:  StoredProcedure [dbo].[usp_get_employee_menu_access]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_get_employee_menu_access]
    @EmpId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        MM.MainMenuId,
        MM.MainMenuName,
        MM.Icon,

        SM.SubMenuId,
        SM.SubMenuName,
        SM.ControllerName,
        SM.ActionName,

        ISNULL(EMA.CanView, 0) AS CanView,
        ISNULL(EMA.CanAdd, 0) AS CanAdd,
        ISNULL(EMA.CanEdit, 0) AS CanEdit,
        ISNULL(EMA.CanDelete, 0) AS CanDelete
    FROM MainMenus MM
    INNER JOIN SubMenus SM ON MM.MainMenuId = SM.MainMenuId
    LEFT JOIN EmployeeMenus EMA 
        ON SM.SubMenuId = EMA.SubMenuId 
       AND EMA.EmpId = @EmpId

    WHERE MM.IsActive = 1
      AND SM.IsActive = 1

    ORDER BY MM.MainMenuId, SM.SubMenuId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_get_sidebar_menu_by_emp]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_get_sidebar_menu_by_emp] --1
    @EmpId INT  
AS  
BEGIN  
    SET NOCOUNT ON;   
  
    SELECT DISTINCT   
        MM.MainMenuId,  
        MM.MainMenuName,  
        MM.Icon  
    FROM MainMenus MM  
    INNER JOIN SubMenus SM ON MM.MainMenuId = SM.MainMenuId  
    INNER JOIN EmployeeMenus EMA ON SM.SubMenuId = EMA.SubMenuId  
    WHERE EMA.EmpId = @EmpId  
      AND EMA.CanView = 1  
      AND MM.IsActive = 1  
      AND SM.IsActive = 1;  
  
       
    SELECT   
        SM.SubMenuId,  
        SM.MainMenuId,  
        SM.SubMenuName,  
		SM.Icon,
        SM.ControllerName,  
        SM.ActionName  
    FROM SubMenus SM  
    INNER JOIN EmployeeMenus EMA ON SM.SubMenuId = EMA.SubMenuId  
    WHERE EMA.EmpId = @EmpId  
      AND EMA.CanView = 1  
      AND SM.IsActive = 1;  
END


--select * from  [dbo].[EmployeeMenus]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_terminal_by_id]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_get_terminal_by_id]
    @ID BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM TerminalMaster
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_get_terminal_list]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_get_terminal_list]  
AS  
BEGIN  
    SET NOCOUNT ON;   
    SELECT T.ID,T.TerminalName,T.IsActive,CONVERT(VARCHAR,T.CreatedOn,23) CreatedOn,CONVERT(VARCHAR,T.UpdatedOn,23) UpdatedOn  
 ,E1.FullName CreatedBy,E2.FullName UpdatedBy FROM TerminalMaster T WITH(NOLOCK)   
 JOIN Employee E1 WITH(NOLOCK) ON E1.Id=t.CreatedBy  
 LEFt JOIN Employee E2 WITH(NOLOCK) ON E2.Id=T.UpdatedBy  
 ORDER BY T.ID DESC;  
END  
   
  
GO
/****** Object:  StoredProcedure [dbo].[usp_update_main_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_update_main_menu]
    @MainMenuId INT,
    @MainMenuName NVARCHAR(1000),
    @Icon NVARCHAR(MAX) = NULL,
    @UpdatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE MainMenus
    SET 
        MainMenuName = @MainMenuName,
        Icon = @Icon,
        UpdatedBy = @UpdatedBy,
        UpdatedOn = GETDATE()
    WHERE MainMenuId = @MainMenuId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_update_sub_menu]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_update_sub_menu]
    @SubMenuId INT,
    @MainMenuId INT,
    @SubMenuName NVARCHAR(1000),
    @ControllerName NVARCHAR(150) = NULL,
    @ActionName NVARCHAR(150) = NULL,
    @UpdatedBy INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE SubMenus
    SET
        MainMenuId = @MainMenuId,
        SubMenuName = @SubMenuName,
        ControllerName = @ControllerName,
        ActionName = @ActionName,
        UpdatedBy = @UpdatedBy,
        UpdatedOn = GETDATE()
    WHERE SubMenuId = @SubMenuId;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_update_terminal]    Script Date: 12/12/2025 6:24:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_update_terminal]
    @ID BIGINT,
    @TerminalName NVARCHAR(1000),
    @IsActive BIT,
    @UpdatedBy INT,
    @Status INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON; 
    SET @Status = -99;  -- default error

    -- Check ID exists
    IF NOT EXISTS(SELECT 1 FROM TerminalMaster WHERE ID = @ID)
    BEGIN
        SET @Status = -1;  -- not found
        RETURN;
    END

    -- Check duplicate name except current ID
    IF EXISTS(SELECT 1 FROM TerminalMaster WHERE TerminalName = @TerminalName AND ID <> @ID)
    BEGIN
        SET @Status = 2;  -- duplicate
        RETURN;
    END

    UPDATE TerminalMaster
    SET TerminalName = @TerminalName,
        IsActive = @IsActive,
        UpdatedBy = @UpdatedBy,
        UpdatedOn = GETDATE()
    WHERE ID = @ID;

    SET @Status = 1; -- success
END
GO
