.toast-box {
    position: fixed;
    right: 20px;
    top: -100px;
    min-width: 260px;
    background: #fff;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0px 4px 18px rgba(0,0,0,0.15);
    display: flex;
    gap: 12px;
    align-items: flex-start;
    opacity: 0;
    z-index: 999999;
    transition: all .3s ease-in-out;
}

    .toast-box.show {
        top: 20px;
        opacity: 1;
    }

.toast-icon i {
    font-size: 28px;
}

.toast-content h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.toast-content p {
    margin: 2px 0 0;
    font-size: 13px;
}

.toast-close {
    background: transparent;
    border: none;
    cursor: pointer;
}

.toast-timer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background: rgba(0,0,0,0.2);
    border-radius: 0 0 6px 6px;
}

    .toast-timer.animate {
        width: 100%;
        transition: width 4s linear;
    }

/* Colors */
.toast-box.success {
    border-left: 6px solid #28a745;
}

.toast-box.error {
    border-left: 6px solid #dc3545;
}

.toast-box.warning {
    border-left: 6px solid #ffc107;
}

.toast-box.info {
    border-left: 6px solid #0dcaf0;
}


/*for confirmation*/
.toast-box.confirm {
    border-left: 6px solid #da454f; /* confirmation color */
}

.confirm-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

    .confirm-buttons .btn {
        padding: 3px 10px;
        font-size: 12px;
    }
/*for confirmation*/
